// Font families
$ff-body: 'Montserrat', sans-serif;

// Font sizes
$fs-900: 3.75rem; // 60px
$fs-800: 1.875rem; // 30px
$fs-700: 1.5rem; // 24px
$fs-600: 1.25rem; // 20px
$fs-500: 1.125rem; // 18px
$fs-400: 1rem; // 16px
$fs-300: 0.875rem; // 14px
$fs-200: 0.75rem; // 12px

//Font weights
$fw-700: 700; // bold
$fw-600: 600; // semi-bold
$fw-500: 500;  // medium
$fw-400: 400; // regular
$fw-300: 300; //light